body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
     display: flex;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 239px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 239px;
    width: 0;
    height: 100%;
    margin-left: -239px;
    /*overflow: hidden;*/
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 239px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    background: #F8FAFC;
    min-height:700px
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -239px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 239px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 36px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
    background: none;
}

 .tab{
    padding-left: 15px;
    display: inline-block;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 239px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 239px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*navbar*/

.navbar{
    background-color: #3523cd;
    color: #f8fafc;
}
.navbar-right{
    text-align: right;
}

.navbar a{
    color: #ffffff;
    font-weight: bold;
}

.navbar a:hover{
    color: #999999;
}
