
.login-box {
    padding: 20px;
    margin: 50px auto 0 auto;
    min-width: 400px;
    width: 480px;
}

h2{
    display: inline;
}

.sub-title{
    font-weight: bold;
    font-size: 17px;
    padding: 12px 0 7px 41px;
}

.page-header{
    padding-bottom: 20px;
}

footer span {
    font-size: small;
    display: block;
}

.logo-dev {
    background: url('../img/logoDev2.png') no-repeat center center;
    background-size:113px 80px;
    width: 113px;
    height: 80px;
    display: inline-block;
}

form{
    margin-top: 17px;
    display: block;
}

input{
    max-width: 400px;
}

label{
    font-weight: bold;
}

.tab-pane{
    padding: 25px 0 10px 0;
}

.tab-pane a{
    padding-left: 8px;
    padding-bottom: 9px;
}

/*modal*/
.modal-header{
    padding-left: 25px;
}
.modal-footer{
   padding-right: 10px;
}

#user-form{
    display: none;
}

#delete{
    display: none;
}

