
.login-box {
    padding: 20px;
    margin: 50px auto 0 auto;
    min-width: 400px;
    width: 480px;
}

h2 {
    display: inline;
}

.sub-title {
    font-weight: bold;
    font-size: 17px;
    padding: 12px 0 7px 41px;
}

.page-header {
    padding-bottom: 20px;
}

footer span {
    font-size: small;
    display: block;
}

.logo-dev {
    background: url('../img/logoDev2.png') no-repeat center center;
    background-size: 113px 80px;
    width: 113px;
    height: 80px;
    display: inline-block;
}

form {
    margin-top: 17px;
    display: block;
}

.form-select {
    background-color: #fff;
}

.bootstrap-select {
    border: 1px solid #c3c3c3;
}

input {
    max-width: 400px;
}

.short-text input{
    max-width: 180px;
}

.currency{
    text-align: right;
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

.tab-pane {
    padding: 25px 0 10px 0;
}

.tab-pane a {
    padding-left: 8px;
    padding-bottom: 9px;
}

/*prelading*/

.loading-indicator:before {
    content: '';
    background: rgba(195, 195, 195, 0.8);
    position: fixed;
    width: 20%;
    height: 70px;
    top: 47%;
    left: 40%;
    text-align:center;
    z-index: 1000;
    border-radius: 11px;
}

.loading-indicator:after {
    content: 'Espere por favor...';
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1001;
    color:black;
    text-align:center;
    font-size:17px;
}

/*modal*/
.modal-header {
    padding-left: 25px;
}

.modal-footer {
    padding-right: 10px;
}

#user-form, #area-form, #role-form, #table-form, #line-form, #person-form, #bonus-form {
    display: none;
}

#delete, #delete-area, #delete-role, #delete-table, #delete-line, #delete-person, #delete-bonus, #prod-form, #role-location {
    display: none;
}

.appear-subtitle{
    font-weight: bold;
    float: left;
    position: relative;
}

.data-ap-non span{
    padding: 6px;
    margin-left: 9px;
}

#home-panel .card{
    width: 44%;
    min-height: 180px;
    margin: 12px;

}

.extra{
    background-color: aqua;
    font-weight: bold;
}

#home-panel .card h1{
    padding-left: 20px;
}

.report{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
    min-width: 600px;
}
.det-appear{
    cursor: pointer;
}