
.login-box {
    padding: 20px;
    margin: 50px auto 0 auto;
    min-width: 400px;
    width: 480px;

}

footer span {
    font-size: small;
    display: block;
}

.logo-dev {
    background: url('../img/logoDev2.png') no-repeat;
    background-size: 300px 100px;
    display: inline-block;
}